<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- This Menu Item will appear in the Upper bar, That's why It needs NO parent or action -->
        <menuitem id="root_menu_restaurant" name="Restaurant" sequence="10"/>
        <!-- This Menu Item Must have a parent -->
        <menuitem id="categ_menu_restaurant" name="Menu" parent="root_menu_restaurant" sequence="10"/>
        <!-- This Menu Item must have a parent and an action -->
        <menuitem id="action_menu_menu" name="Menu Makanan" parent="categ_menu_restaurant" action="seru_menu_action_view" sequence="10"/>
        <!-- This Menu Item must have a parent and an action -->
        <menuitem id="action_restaurant_menu" name="Restaurant Name" parent="categ_menu_restaurant" action="seru_restaurant_action_view" sequence="20"/>

    </data>
</odoo>